<!--views/register.hbs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <header class="navbar">
        <div class="navbar-brand">Sunshine Scribbles ☀️</div>
        <nav class="navbar-links">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/posts">Posts</a></li>
                {{#if currentUser}}
                <li><a href="/user/{{currentUser.username}}">My Posts</a></li>
                {{/if}}
                {{#unless currentUser}}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Sign Up</a></li>
                {{else}}
                <li><a href="/user/{{currentUser.username}}">Signed In as {{currentUser.username}}</a></li>
                <li><a href="/logout">LogOut</a></li>
                {{/unless}}
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>SIGN UP</h1>
        <form action="/register" method="POST" style="max-width:300px; margin:2rem auto;">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <button class="btn" type="submit">Submit</button>
        </form>
        <a href="/posts">Go back</a>
    </div>
</body>

</html>